.wrapper {
  grid-template-areas: "sidebar content";
  grid-template-columns: max-content auto;

  nav {
    grid-area: sidebar;
  }

  main {
    grid-area: content;
  }
}

ol.stepper {
  height: 13px;

  > li {
    display: inline-block;
    width: 20px;
    height: 100%;
    position: relative;

    &::before {
      content: "";
      width: 13px;
      height: 13px;
      background-color: #cbd5e1;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
    }

    &:not(:last-child)::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #cbd5e1;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }

  > li:last-child {
    width: 13px;
  }

  li.active {
    &::before,
    &::after {
      background-color: #0f172a;
    }
  }
}

ol.vertical-stepper {
  > li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 15px;

    &::before {
      content: "";
      width: 13px;
      height: 13px;
      background-color: #cbd5e1;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
    }

    &:not(:last-child)::after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: #cbd5e1;
      position: absolute;
      left: 6px;
      top: 0;
    }
  }

  li.active {
    &::before,
    &::after {
      background-color: #0f172a;
    }
  }
}
